body {
    background-color: #1D2024;
    color: white;
}

.site-header {
    background-color: #212529;
    box-shadow: 3rem .5em 1.5em rgba(0, 0, 0, .1);
}

.nav-item {
    cursor: pointer;
}

.quotation-form {
    width: 50%;

    @media only screen and (max-width: 880px) {
        width: 100%;
    }
}

.form-button {
    width: 30%;

    @media only screen and (max-width: 880px) {
        width: 100%;
    }
}

.form-text {
    display: inline-block;
    line-height: 1rem;
}