<div class="site-header">
    <header class="container">
        <nav class="d-flex flex-wrap justify-content-center py-3 mb-4 navbar navbar-expand-lg navbar-dark">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="/">
                <span class="navbar-brand fs-4">
                    Multistep Quotation Form
                </span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/send" class="nav-link active" aria-current="page">
                        Send Quotation
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/list" class="nav-link">
                        List Quotations
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>