<div class="form-subheading fs-2 mb-4">
    <span class="form-subheading__step-number fw-bold text-primary">
        Step Two
    </span>
    <span class="form-subheading__step-name">
        Finishing:
    </span>
</div>

<div class="form-inputs" data-bs-theme="dark">
    <div class="mb-3">
        <div class="input-group">
            <select class="form-select form-input__finishing-type form-input__finishing-type-1">
                <option value="" selected disabled>type to select</option>
            </select>
            <span class="input-group-text input-group-text__price input-group-text__finishing-type-1-price d-flex justify-content-center">.00</span>
            <span class="input-group-text">EGP</span>
        </div>
        <span class="form-text text-danger form-input-error__finishing-type-1"></span>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <select class="form-select form-input__finishing-type form-input__finishing-type-2">
                <option value="" selected disabled>type to select</option>
            </select>
            <span class="input-group-text input-group-text__price input-group-text__finishing-type-2-price d-flex justify-content-center">.00</span>
            <span class="input-group-text">EGP</span>
        </div>
        <span class="form-text text-danger form-input-error__finishing-type-2"></span>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <select class="form-select form-input__finishing-type form-input__finishing-type-3">
                <option value="" selected disabled>type to select</option>
            </select>
            <span class="input-group-text input-group-text__price input-group-text__finishing-type-3-price d-flex justify-content-center">.00</span>
            <span class="input-group-text">EGP</span>
        </div>
        <span class="form-text text-danger form-input-error__finishing-type-3"></span>
    </div>
</div>