<div class="quotation-details" data-bs-theme="dark">
    <div class="section mb-5">
        <div class="section-heading fs-3 fw-bolder mb-3">
            Product Specs
        </div>
        <ul class="section-content list-group fs-5">
            <li class="list-group-item d-flex justify-content-between">
                <span>Height (cm)</span>
                <span class="quotation-value__height"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Drawers</span>
                <span class="quotation-value__drawers"></span>
            </li>
        </ul>
    </div>
    <div class="section mb-5 mt-5">
        <div class="section-heading fs-3 fw-bolder mb-3">
            Finishing
        </div>
        <ul class="section-content list-group fs-5">
            <li class="list-group-item d-flex justify-content-between">
                <span class="quotation-value__finishing-type-1"></span>
                <span class="quotation-value__finishing-type-1-price"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span class="quotation-value__finishing-type-2"></span>
                <span class="quotation-value__finishing-type-2-price"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span class="quotation-value__finishing-type-3"></span>
                <span class="quotation-value__finishing-type-3-price"></span>
            </li>
        </ul>
    </div>
    <div class="section mb-5 mt-5">
        <div class="section-heading fs-3 fw-bolder mb-3">
            Accessories
        </div>
        <ul class="section-part list-group fs-5 quotation-accessories-list"></ul>
    </div>
    <div class="section mt-5">
        <div class="section-heading fs-3 fw-bolder mb-3">
            Terms
        </div>
        <div class="section-content fs-5" include-html="components/terms-and-conditions.html"></div>
    </div>
</div>

<script src="js/view-quotation.js" class="regenerate-script"></script>