<div class="form-subheading fs-2 mb-4">
    <span class="form-subheading__step-number fw-bold text-primary">
        Step Three
    </span>
    <span class="form-subheading__step-name">
        Accessories:
    </span>
</div>


<div class="form-inputs">
    <div class="mb-3">
        <div class="input-group">
            <select class="form-select form-input__accessory form-input__accessory-1">
                <option value="" selected disabled>type to select</option>
            </select>
            <span class="input-group-text input-group-text__price input-group-text__accessory-1-price d-flex justify-content-center">.00</span>
            <span class="input-group-text">EGP</span>
        </div>
        <span class="form-text text-danger form-input-error__accessory-1"></span>
    </div>

</div>

<button class="add-accessory-button btn btn-dark mb-3 d-flex justify-content-center gap-3 fs-5" type="button">
    <span class="plus-icon bg-danger rounded-circle d-flex justify-content-center align-items-center">
        +
    </span>
    <span>
        Add an accessory
    </span>
</div>